@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-prim1: #142D71;
    --color-prim2: #00C1AA;
    --color-text: #303336;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html {
    font-family: "proxima nova";
    font-size: 16px;
    color: var(--color-text);
    line-height: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 0.7em 0; 
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.menu__item {
    display: block;
    padding: 0.2em 1.2em;
    cursor: pointer;
}

.menu__item:hover {
    color: var(--color-prim2);
    font-weight: 500;
}

.round-btn {
    padding: 0.5em 2.5em;
    background-color: var(--color-prim1);
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

.round-btn2 {
    padding: 0.5em 2.5em;
    background-color: #fff;
    font-weight: 500;
    color: var(--color-prim1);
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.mobile-menu.opened {
    width: 100%;
    padding: 0.6em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    opacity: 100%;
}

.mobile-menu__item {
    display: block;
    padding: 0.2em 1.2em;
    cursor: pointer;
}

.mobile-menu__item:hover {
    color: var(--color-prim2);
    font-weight: 500;
}


.main {
    margin-top: 4.7em;
}

.banner {
    width: 100%;
}

.banner__img {
    width: 100%;
}

.label {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 0.7em 1.3em;
    gap: 10px;
    background: linear-gradient(82.83deg,#12B1B9 2.69%,#082A98 75.83%);
    border-radius: 4px;
    width: max-content;
    margin-bottom: 24px;
}

.footer {
    background: linear-gradient(82.83deg, #12B1B9 2.69%, #082A98 75.83%);
    border-radius: 30px 30px 0 0;
}

.infomation {
    width: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
    font-size: 0.9rem;
    color: #fff;
}

.contact__logo {
    margin-bottom: 0.5em;
}

.contact__item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 0.5em;
}

.about {
    padding: 1.9em 1em;
}

.about__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.follow {
    padding: 1.9em 1em;
}

.follow__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.follow__list {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.copyright {
    border-top: 1px solid #d8d6d6;
    color: #fff;
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-prim1);
    margin: 0.6em auto;
    line-height: 35px;
}

.paragraph {
    margin: 0.8em auto;
}

.--color-prim2 {
    color: var(--color-prim2)
}

.two-side-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 6em;
    width: 100%;
    margin-bottom: 2em;
}
.two-side-container__content {
    max-width: 50%;
}
.two-side-container__img {
    margin-top: 0.2px;
    max-width: 50%;
}
.--reverse {
    flex-direction: row-reverse;
}

.cta {
    background-image: url(../public/images/cta-min.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2em;
    position: relative;
    min-height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cta__child {
    position: absolute;
    top: 60px;
    left: 45px;
}

.cta__heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5em;
    line-height: 40px;
}
.cta__btn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}



@media only screen and (max-width: 1035px) {
    .menu {
        display: none;
    } 
    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner__img {
        border-radius: 10px;
    }
    .infomation {
        flex-direction: column;
        padding: 1em 1.5em;
    }
    .contact {
        padding: 0 1em;
    }
    .two-side-container {
        flex-direction: column;
        padding: 0 1.2em;
    }
    .two-side-container__content {
        width: 100%;
        max-width: 100%;
    }
    .two-side-container__img {
        width: 100%;
        max-width: 100%;
    }
}
