@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-prim1: #142D71;
    --color-prim2: #00C1AA;
    --color-bg1: #e8f5fe;
    --color-text: #303336;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html {
    font-family: "proxima nova";
    font-size: 16px;
    color: var(--color-text);
    line-height: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 0.7em 0; 
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.menu__item {
    display: block;
    padding: 0.2em 1.2em;
    cursor: pointer;
}

.menu__item:hover {
    color: var(--color-prim2);
    font-weight: 500;
}

.menu__item.active {
    color: var(--color-prim2);
}

.round-btn {
    padding: 0.5em 2.5em;
    background-color: var(--color-prim1);
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

.round-btn2 {
    padding: 0.5em 2.5em;
    background-color: #fff;
    font-weight: 500;
    color: var(--color-prim1);
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.mobile-menu.opened {
    width: 100%;
    padding: 0.6em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    opacity: 100%;
}

.mobile-menu__item {
    display: block;
    padding: 0.2em 1.2em;
    cursor: pointer;
}

.mobile-menu__item:hover {
    color: var(--color-prim2);
    font-weight: 500;
}

.mobile-menu__item.active {
    color: var(--color-prim2);
}


.main {
    margin-top: 5em;
}

.banner {
    width: 100%;
}

.banner__img {
    width: 100%;
}

.label {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 0.7em 1.3em;
    gap: 10px;
    background: linear-gradient(82.83deg,#12B1B9 2.69%,#082A98 75.83%);
    border-radius: 4px;
    width: max-content;
    margin-bottom: 24px;
}

.footer {
    background: linear-gradient(82.83deg, #12B1B9 2.69%, #082A98 75.83%);
    border-radius: 30px 30px 0 0;
}

.infomation {
    width: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
    font-size: 0.9rem;
    color: #fff;
}

.contact__logo {
    margin-bottom: 0.5em;
}

.contact__item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 0.5em;
}

.about {
    padding: 1.9em 1em;
}

.about__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.follow {
    padding: 1.9em 1em;
}

.follow__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.follow__list {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.copyright {
    border-top: 1px solid #d8d6d6;
    color: #fff;
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-prim1);
    margin: 0.6em auto;
    line-height: 35px;
}

.heading2 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-prim1);
    margin: 0.3em auto;
    line-height: 20px;
}

.paragraph {
    margin: 0.8em auto;
}

.--color-prim2 {
    color: var(--color-prim2)
}

.service-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.service__container {
    background-image: url(../public/images/bg-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    padding: 2em;
    border-radius: 10px;
}

.service__card {
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 24px;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service__icon {
    width: 75px;
}

.service__heading {
    color:  #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

.service__desc {
    color: #fff;
}

.two-side-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 6em;
    width: 100%;
    margin-bottom: 4em;
}
.two-side-container__content {
    max-width: 50%;
    padding-left: 1em;
}
.two-side-container__img {
    margin-top: 0.2px;
    max-width: 50%;
    border-radius: 10px;
}
.--reverse {
    flex-direction: row-reverse;
}

.cta {
    background-image: url(../public/images/cta-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    min-height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5em;
    line-height: 40px;
    text-align: center;
}
.cta__btn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.hotline-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 12px;
    cursor: pointer;
    z-index: 99999;
}

.hotline {
    animation: hotline-animation 0.5s linear 1s infinite ;
}

@keyframes hotline-animation {
    from {
        width: 60px;
        opacity: 80%;
    } 
    to {
        width: 70px;
        opacity: 100%;
    }
}

.swiper-container {
    overflow: hidden;
    position: relative;
}

.slide-img {
    width: 100%;
    border-radius: 20px;
}

.swiper-pagination1 {
    position: absolute;
    bottom: 0;
}

.reason-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
}
.reason {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.our-partner {
    padding: 3em 4em 4em 4em;
}

.hero {
    background-image: linear-gradient(82.83deg,  rgba(8, 42, 152, 0.82) 2.69%, rgba(18, 177, 185, 0.73)  75.83%),
    url('../public/images/hero-img.jpg');
    background-size: cover;
    width: 100%;
    min-height: 200px;
    padding: 1em 0 1em 6em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 1000px;
}

.hero__web-address {
    text-transform: uppercase;
    color: var(--color-prim2);
}

.hero__heading {
    font-size: 3rem;
    line-height: 50px;
    margin: 0.3em 0;
}

.introduce-doctor {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.doctor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 34px;
    width: 300px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.doctor-card__avatar {
    width: 200px;
}

.doctor-card__name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.5em;
}

.doctor-card__role {
    text-transform: uppercase;
    font-size: 0.95rem;
    margin: 7px auto;
    text-align: center;
    color: var(--color-prim1);
}

.doctor-card__desc {
    font-weight: 500;
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 1em;
}

.introduce-hospital {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.hospital__heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
}





/* ------- individual element -------  */
.co-so-vat-chat {
    padding: 3em;
}


@media only screen and (max-width: 1035px) {
    .menu {
        display: none;
    } 
    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner__img {
        border-radius: 10px;
    }
    .infomation {
        flex-direction: column;
        padding: 1em 1.5em;
    }
    .contact {
        padding: 0 1em;
    }
    .two-side-container {
        flex-direction: column;
        padding: 0 1.2em;
    }
    .two-side-container__content {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .two-side-container__img {
        width: 100%;
        max-width: 100%;
    }
    .cta {
        padding: 0 0.5em;
        height: 300px;
    }
    .cta__heading {
        font-size: 1.7rem;
    }
    .hospital__heading {
        margin-top: 1em;
    }
    .hero {
        padding: 1em;
    }
    /* individual element  */
    .co-so-vat-chat {
        padding: 0;
    }
    
}



